/* nav related style */
body{
    font-family: 'Lato', sans-serif;
    font-family: 'opens sans' sans-serif;
}
span{
    color: brown;
}


.sec-title{
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;

}
.sec-description{
    color: #757575;
text-align: center;
font-size: 18px;
font-weight: 400;
line-height: 30px;
}

nav{
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin: 0px 200px;
}

.h3-primary{
    color: black;
font-style: normal;
font-weight: 900;

}

nav > ul{
    display: flex;
    align-items: center;
    
}
nav a{
    text-decoration: none;
    color: #474747;
    font-size: 20px;
    font-weight: 400;
}
nav li{
    
    list-style: none;
    margin-right: 50px;
    text-align: ;
}
.btn-primary{
    border-radius: 5px;
    background-color: #fd6e0a;
    border: wheat;
    color: white;
    font-size: 15px;
    padding: 10px;

} 
/* header styles */

.headcls{
    background: #fff8f1;
    background-image: url(portfolio-resources/images/header_bg.png);
    background-repeat: no-repeat;
    background-position: bottom right;
}
.banner{
    padding:30px 30px 0px 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.banner.img{
    width: 500px;
    margin-right: 0px;

}
.banner-g{
    font-size: 45px;
    margin-bottom: 0px;
   
}
.banner-ti{
    font-size: 85px;
    font-weight: 600;
    margin-top: 0px;
}
.banner-des{margin-top: 5px;

}
.banner-content{
    max-width: 500px;
}

/* main section */
  main{
    max-width: 1140px;
    margin:0px auto;
  }
  main section{
    margin-top: 120px;
  }
.about-info-container{
    display: flex;
    justify-content: space-around;

}
.about-info{
    text-align: center;
}
#w-i-d-description{
    padding: 30px 150px;
}




/* about section width */
.about{
    padding: 120px;
    background: #f1e6db;
    border-radius: 10px;
    
}

/* skill description */
.skill-container{
    display: flex;
    width:200px;
    gap: 24px;
}
.skill-description{
    color: #757575;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 28px;

}
.skill{
    border-radius: 5px;
background: #FFF;
box-shadow: 0px 6px 50px 0px rgba(231, 7, 7, 0.06);
width: 267px;
height: 377px;
padding: 30px;

border-radius:;

}


/* skil end */
/* resume section */
.resume-items-title{

color: #474747;
font-size: 20px;
font-weight: 700;
border: radius 10px;
margin-bottom: 10px
}
.resume-cointainer{
    display: flex;
    width: 511px;
    flex-direction: column;
    flex-shrink: 0;
}
.resume-items-institute{
    margin-top: 20px;

}

.resume-items-institute ,
.resume-item-description{
    color: #161515;
font-size: 20px;
font-weight: 600;
}
.resume-container{
    display: flex;
    gap:50px

}
.resume-container hr{
    margin:30px ;
}
.download-cv{
    text-align: center;
    margin-top: 50px;
}