/* share  */
body{
    font-family: 'Lato', sans-serif;
    font-family: 'opens sans' sans-serif;
}
span{
    color: brown;
}





nav{
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.h3-primary{
    color: black;
font-style: normal;
font-weight: 900;

}

nav > ul{
    display: flex;
    align-items: center;
    
}
nav a{
    text-decoration: none;
    color: #474747;
    font-size: 20px;
    font-weight: 400;
}
nav li{
    
    list-style: none;
    margin-right: 50px;
    text-align: ;
}
.btn-primary{
    border-radius: 5px;
    background-color: #fd6e0a;
    border: wheat;
    color: white;
    font-size: 15px;
    padding: 10px;

}